/* Common Css */
body{
	margin:0px;
	padding:0px;
	font-family: Proxima Nova;
	/* font-family: 'proxima-nova', sans-serif; */
}
h1,h2,h3,h4,h5,p{
	margin-bottom:0px;
	color:#000;
}
ul{
	list-style:none;
	margin-bottom:0px;
	padding-left:0px;
}
.container_space {
	padding: 0px 70px;
}
.section{
	padding:80px 0px;
}
.section_head img{
	margin-bottom: 40px;
}
.section_head h3{
	font-size: 40px;
    color: #000;
    font-weight: 600;
    margin-bottom: 30px;
}
.section_head p{
	font-size: 18px;
   margin-bottom: 25px;
}
.owl-theme .owl-dots .owl-dot{
	outline:none;
}

/* Rating Css */
.rating{
	display:table;
}
.rating:not(:checked) > input {
	position:absolute;
	top:-9999px;
	clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
	float:right;
	width:1em;
	padding:0 .1em;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	font-size:28px;
	line-height:1.2;
	color:#ddd;
}
.rating:not(:checked) > label:before {
	content: '★ ';
}
.rating > input:checked ~ label {
	color: dodgerblue;
	
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
	color: dodgerblue;
	
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
	color: dodgerblue;
	
}
.rating > label:active {
	position:relative;
	top:2px;
	left:2px;
}

/* Header Css */
.header .navbar{
	padding:10px 0px;
}
.header .navbar-brand {
	padding: 0px;
	margin-right: 0px;
}
.header .navbar-brand img{
	width:90px;
}
.header .navbar-toggler {
	outline:none;
}
.header .navbar-nav .nav-link{
	font-weight: 600;
    font-size: 16px;
    color: #000 !important;
    padding: 10px 20px;
}
.header .navbar-nav .nav-item.active .nav-link {
	color: rgba(240,72,62,1) !important;
}
.header .extra_nav li {
	padding-left: 30px;
	display: inline-block;
}
.header .extra_nav li a{
	color:rgba(188,188,203,1);
	font-size:16px;
}

/* Banner Css */
.banner_wrap .content_box {
	padding-right:45px;
}
.banner_wrap .content_box h3{
	font-size: 50px;
    font-weight: bold;
	margin-bottom: 25px;
}
.banner_wrap .content_box p{
	font-size: 18px;
    margin-bottom: 30px;
	line-height: 35px;
}

/* Services Css */
.services_wrap {
	margin-top:90px;
}
.services_wrap .content_box img{
	margin-bottom: 20px;
}
.services_wrap .content_box h3{
	font-size:27px;
	font-weight:600;
	margin-bottom:12px;	
}
.services_wrap .content_box p{
	font-size:16px;
	margin-bottom: 10px;
	line-height: 28px;
}

/* Why G0 With Css */
.gowith_wrap {
	margin-top:90px;
}
.gowith_wrap .content_box {
	margin-bottom:30px;
}
.gowith_wrap .content_box h3{
	font-size:27px;
	font-weight:600;
	margin-bottom:12px;	
}
.gowith_wrap .content_box p{
	font-size:16px;
	margin-bottom: 10px;
	line-height: 28px;
}

/* What People Say Css */
.people_say_wrap {
	margin-top:90px;
}
.people_say_wrap .content_box {
	margin-bottom:30px;
}
.people_say_wrap .content_box img{
	width: auto !important;
	margin-bottom:20px;
}
.people_say_wrap .content_box h3{
	font-size:20px;
	font-weight:600;
	margin-bottom:5px;	
}
.people_say_wrap .content_box h4{
	font-size:20px;
	font-weight:500;
	margin-bottom:5px;	
}
.people_say_wrap .content_box p{
	font-size:16px;
	margin: 22px 0px;
	line-height: 35px;
}

/* Need Help Css */
.need_help_sec {
	background:rgb(51, 62, 162); 
	padding: 40px 0px;
}
.need_help_wrap h3{
	color:white;
	font-size: 26px;
	font-weight: 500;
}

/* CCIE Rental Racks Css */
.ccie_RR_wrap .content_box {
	padding-right:45px;
}
.ccie_RR_wrap .content_box h3{
	font-size: 50px;
    font-weight: bold;
	margin-bottom: 25px;
}
.ccie_RR_wrap .content_box p{
	font-size: 18px;
    margin-bottom: 30px;
	line-height: 35px;
}
.ccie_RR_tabs {
	margin-top:60px;
}
.ccie_RR_tabs .nav-pills .nav-link.active, 
.ccie_RR_tabs .nav-pills .show .nav-link{
	background-color: #fff;
}
.ccie_RR_tabs .ccie_RR_list img{
	margin-bottom:30px;
}
.ccie_RR_tabs .ccie_RR_list p{
	font-size:15px;
}
.ccie_RR_tabs .nav-pills .nav-link.active .ccie_RR_list p, 
.ccie_RR_tabs .nav-pills .show .nav-link .ccie_RR_list p{
	color:rgba(255,166,77,1);
	font-weight:600;
}
.ccie_RR_tabs .tab_content {
	margin-top:100px;
}
.ccie_RR_tabs .tab_content h3{
	font-size: 40px;
    font-weight: 600;
    color: #000;
}
.ccie_RR_tabs .tab_content a{
	border: 2px solid rgb(240, 72, 62);
    padding: 15px 30px;
    color: rgb(240, 72, 62);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
	text-decoration: none;
}
.ccie_RR_tabs .tab_content a:not(:last-child){
	margin-right:10px;
}
.ccie_RR_tabs .tab_content .tabs_link{
	
}

/* Package Css */
.package_sec {
	background: rgb(245, 245, 245);
}
.package_wrap .content_box {
	background: #fff;
    box-shadow: 0px 0px 10px #ccc;
    padding: 20px 10px;
	text-align: center;
	margin-bottom: 25px;
}
.package_wrap .content_box .token{
	margin-bottom: 35px;
    font-weight: 600;
    font-size: 14px;
}
.package_wrap .content_box .price{
	margin-bottom: 5px;
    font-weight: 600;
    font-size: 30px;
}
.package_wrap .content_box .token_price{
	margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
}
.package_wrap .content_box .add_cart{
	background: rgb(240, 72, 62);
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 16px;
	text-decoration: none;
}
.package_wrap .content_box ul{
	margin-top:25px;
}
.package_wrap .content_box ul li{
	margin-bottom:14px;
}
.package_wrap .content_box .more_details{
    color: #333;
    display: block;
    font-size: 14px;
	text-decoration: none;
	font-weight: 600;
}

/* Feature Css */
.feature_wrap .content_box{
	background: rgb(245, 245, 245);
    text-align: center;
    padding: 50px 20px;
	margin-bottom: 30px;
}
.feature_wrap .content_box h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 12px;
}
.feature_wrap .content_box p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
.feature_wrap .content_box a{
	color: rgba(12,125,213,1);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

.feature_wrap .content_box img{
	margin-top:30px;
}

.feature_wrap .content_box ul li{
	font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 18px;
}
.feature_wrap .content_box ul li i{
	color:rgb(52, 208, 88);
	margin-right: 15px;
}


/* FAQS Css */
.faqs_wrap {
	margin-top:100px;
}
.faqs_wrap .faqs_box{
	margin-bottom:40px;
}
.faqs_wrap .faqs_box h4{
	font-size:26px;
	margin-bottom:10px;
	font-weight:500;
}
.faqs_wrap .faqs_box p{
	font-size: 16px;
}


/* Login Css */
.login_sec {
	background: rgba(241,241,241,1);
	padding: 120px 0px;
	min-height: 850px;
}
.login_wrap .content_box {
	background: #fff;
    overflow: hidden;
    padding: 45px 35px;
    width: 80%;
    margin: 0 auto;
}
.login_wrap .content_box h3{
	font-size: 38px;
    color: rgba(0,0,0,1);
    font-weight: 600;
}
.login_wrap .content_box p{
	font-size: 16px;
    color: rgba(0,0,0,1);
    font-weight: 400;
}
.login_wrap .content_box p a{
	color: rgba(38,153,251,1);
	text-decoration:none;
}
.login_wrap .auth_form label{
	font-weight: 600;
    font-size: 15px;
    color: rgba(0,0,0,1);
	margin-bottom: 5px;
}
.login_wrap .auth_form .i_forgot{
	color: rgba(38,153,251,1);
    text-decoration: none;
	font-size: 13px;
}
.login_wrap .auth_form .form-control{
	width: 100%;
    height: 45px;
    border: 2px solid #e8e8e8;
    border-radius: 2px;
	font-size: 14px;
	box-shadow: none;
}
.login_wrap .auth_form .auth_btn{
	height: 42px;
    background: rgb(240, 72, 62);
    border-color: rgb(240, 72, 62);
    border-radius: 0px;
    box-shadow: none;
	outline: none;
	color: #fff;
    font-size: 15px;
}
.login_wrap .auth_form .auth_btn:focus{
	background: rgb(240, 72, 62);
	box-shadow:none;
	outline: none;
}
/* Login Css End */

/* Footer Css */
.foot_space{
	padding-top:50px;
	padding-bottom:50px;
}
.foot_box h3{
	font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
.foot_box ul li {
	margin-bottom:5px;
}
.foot_box ul li p{
	font-size: 14px;
}
.foot_box ul li a{
	color: #212529;
	text-decoration:none;
	font-size: 14px;
}
.foot_box .subs_box {
	margin-bottom:25px;
}
.foot_box .subs_box form{
	position:relative;
}
.foot_box .subs_box input{
	background: #f1f1f1;
    border: none;
    height: 40px;
	padding: 0px 15px;
	outline: none;
	width:100%;
}
.foot_box .subs_box span{
	position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
}
.foot_box .social_box ul li{
	display:inline-block;
}
.foot_box .social_box ul li:not(:last-child){
	margin-right: 20px;
}
.foot_box .social_box ul li a{
	font-size:20px;
}

/* Media Query Css */
@media only screen and (max-width: 1200px) { 
.header .navbar-nav .nav-link{
	padding: 10px 10px;
}
.login_wrap .content_box {
    width: 90%;
}
.login_wrap .content_box h3 {
    font-size: 30px;
}
.login_wrap .content_box p {
    font-size: 15px;
}
.ccie_RR_tabs .tab_content a{
	font-size: 14px;
	padding: 15px 20px;
}	
}
@media only screen and (max-width: 991px) {
.login_wrap .content_box {
    width: 100%;
}	
.header .navbar-nav{
	background: #f1f1f1;
    margin-top: 15px;
    padding: 0px 20px;
}	
.header .navbar-nav .nav-item {
	border-bottom:1px solid #ddd;
}
.header .navbar-nav .nav-link{
	padding: 10px 0px;
}
.ccie_RR_tabs .tab_content .tabs_link {
    margin-top: 40px;
}
.foot_box{
	margin-bottom:30px;
}
}
@media only screen and (max-width: 700px) { 
.ccie_RR_tabs ul{
	display:block;
}
.ccie_RR_tabs ul li{
	margin-bottom:10px;
}
}
@media only screen and (max-width: 768px) {
.login_wrap .content_box {
    margin-top:60px;
}	
.section {
    padding: 40px 0px;
}	
.container_space {
    padding: 0px 20px;
}
.banner_wrap .content_box {
	padding-right:0px;
}  
.banner_wrap .content_box h3{
	font-size: 35px;
}
.banner_wrap .content_box p {
    font-size: 16px;
}
.services_wrap {
    margin-top: 20px;
}
.section_head h3{
	font-size: 35px;
}
.section_head p {
    font-size: 16px;
}
.services_wrap .content_box {
	margin-bottom:30px;
}
.services_wrap .content_box h3{
	font-size: 22px;
	margin-bottom: 2px;
}
.services_wrap .content_box p {
	margin-bottom:2px;
}
.gowith_wrap {
    margin-top: 20px;
}
.gowith_wrap .content_box h3 {
	font-size: 22px;
	margin-bottom: 2px;
}
.people_say_wrap .content_box p {
	line-height:25px;
}
.people_say_wrap .content_box h3 {
	font-size:18px;
}
.people_say_wrap .content_box h4 {
	font-size:18px;
}
.foot_space {
    padding-top: 50px;
    padding-bottom: 0px;
}
.ccie_RR_wrap .content_box h3 {
    font-size: 35px;
}
.ccie_RR_wrap .content_box p {
    font-size: 16px;
}
.ccie_RR_tabs .tab_content h3 {
    font-size: 35px;
}
.ccie_RR_tabs .tab_content a {
	display:block;
	text-align:center;
	margin-bottom: 10px;
	margin-right: 0px !important;
}
.package_wrap .content_box .price {
    font-size: 25px;
}
.feature_wrap .content_box h3 {
    font-size: 22px;
}
.feature_wrap .content_box p {
    font-size: 14px;
}
.feature_wrap .content_box ul li {
    font-size: 16px;
    margin-bottom: 10px;
}
.faqs_wrap .faqs_box h4 {
    font-size: 22px;
}
.faqs_wrap .faqs_box p {
    font-size: 14px;
}
}
@media only screen and (max-width: 575px) {
.banner_wrap .content_box h3 {
    font-size: 22px;
}
.section_head h3 {
    font-size: 22px;
}
.services_wrap .content_box h3 {
    font-size: 18px;
}	
.gowith_wrap .content_box h3 {
    font-size: 18px;
}
.need_help_wrap h3 {
    font-size: 18px;
}
.ccie_RR_wrap .content_box h3 {
    font-size: 22px;
}
.ccie_RR_tabs .tab_content h3 {
    font-size: 22px;
}
.package_wrap .content_box .price {
    font-size: 22px;
}
.feature_wrap .content_box h3 {
    font-size: 18px;
}
.feature_wrap .content_box ul li {
    font-size: 14px;
    margin-bottom: 5px;
}
.faqs_wrap {
    margin-top: 40px;
}
.faqs_wrap .faqs_box h4 {
    font-size: 18px;
}
}





























