/* Fonts */
@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/Proxima Nova Black.otf") format("opentype");
    src: url("fonts/Proxima Nova Regular.ttf") format("truetype");
    src: url("fonts/Proxima Nova Bold.otf") format("opentype");
    src: url("fonts/Proxima Nova Light.otf") format("opentype");
    src: url("fonts/Proxima Nova Thin.otf") format("opentype");
    src: url("fonts/Proxima Nova Semibold.otf") format("opentype");
}